.chk-box-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 8px 5px;
}
.check-box-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    padding: 5px 0px;
    font-size: 0.8em;
}
#reportInterval {
    flex: 1 1 auto;
    padding: 5px;
}
#repIntInput {
    padding-left: 5px;
}
