<div class="right-center app-card-toolbar">
    <div class="left-center app-card-title">
        BME280_007
    </div>
    <button mat-button (click)="rdNodeData_0()">
        <mat-icon>file_download</mat-icon>
        Read
    </button>
    <button mat-button (click)="wrNodeData_0()">
        <mat-icon>file_upload</mat-icon>
        Save
    </button>
</div>
<div class="left-center">
    <div class="chk-box-label">
        enabled:
    </div>
    <div class="check-box-conteiner">
        <mat-checkbox [(ngModel)]="rhFlag" color="primary">
            humidity
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="tempFlag" color="primary">
            temperature
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="pressFlag" color="primary">
            pressure
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="batVoltFlag" color="primary">
            battery voltage
        </mat-checkbox>
    </div>
</div>
<div class="left-center">
    <mat-form-field class="form-field" id="reportInterval">
        <input matInput
               [max]="this.maxInt"
               [min]="this.minInt"
               type="number"
               placeholder="report interval (seconds)"
               [formControl]="formGroup.get('repInt')"
               style="padding-left: 5px"
               (ngModelChange)="onRepIntChange($event)">
        <mat-hint align="end">{{this.minInt}} - {{this.maxInt}} seconds</mat-hint>
        <mat-error *ngIf="formGroup.get('repInt').invalid">{{repIntErr()}}</mat-error>
    </mat-form-field>
</div>
