<div class="right-center app-card-toolbar">
    <div class="left-center app-card-title">
        SSR_009
    </div>
    <button mat-button (click)="rdNodeData_0()">
        <mat-icon>file_download</mat-icon>
        Read
    </button>
    <button mat-button (click)="wrNodeData_0()" [disabled]="isInvalid()">
        <mat-icon>file_upload</mat-icon>
        Save
    </button>
</div>

<div class="left-center">
    <mat-form-field id="reportInterval">
        <input matInput
               type="number"
               [max]="maxInt"
               [min]="minInt"
               placeholder="report interval (seconds)"
               [formControl]="repIntFormCtrl"
               style="padding-left: 5px" />
        <mat-hint align="end">{{minInt}} - {{maxInt}} seconds</mat-hint>
        <mat-error *ngIf="repIntFormCtrl.invalid">{{repIntErr()}}</mat-error>
    </mat-form-field>
</div>

